
<%= form_for @category do |f| %>
    <% if @category.errors.any? %>
     
                <h3><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
        
            <div class="panel-body">
              <ul>
              <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
    <% end %> 


    <%= f.label :name %>
    <%= f.text_field :name %>
    

      <%= f.submit %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path %>
<% end %>