<%= form_with(model: product, local: true) do |form| %>

  <%= render 'shared/errors', obj: @product %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :product_name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :product_description %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, id: :product_price %>
    </div>

    <div class="form-group">
     <div class="row">
        <div class="col-lg-offset-2 col-lg-8 ">
          <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

