<nav>
	<h3>nav contents </h3>

	<% if current_seller %>
			<%= link_to('Log out', destroy_seller_session_path, method: :delete) %>  |
			<%= link_to "My Profile", edit_registration_path(current_seller) %>  |
			<%= link_to "Homepage", root_path %>  
			  | <%= "Admin Profile" if current_seller.admin? %> 
		<% else %>
			<%= link_to 'Log in', new_seller_session_path %>  |
			<%= link_to 'Sign up', new_seller_registration_path %>  |
			<%= link_to 'Sellers', sellers_path %> 
	<% end %>
			
	


</nav>
